[build]
builder = "DOCKERFILE"

[deploy]
startCommand = "uvicorn app.main:app --host 0.0.0.0 --port $PORT"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "backend"
rootDirectory = "PrimeGift/backend"
dockerfilePath = "Dockerfile"
[services.env]
PORT = "8000"

[[services]]
name = "frontend"
rootDirectory = "PrimeGift/frontend"
dockerfilePath = "Dockerfile"

